.link {
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.activeLink {
  color: white;

  border: 1px solid white;
  border-radius: 10px;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
}

.activeLink:hover {
  color: white;
  text-shadow: 0px 6px 6px rgb(0 0 0 / 35%);
}

.link:hover {
  color: white;
  text-shadow: 0px 6px 6px rgb(0 0 0 / 35%);
}
